.wrapper,
.charts-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}
.charts-wrapper {
  width: 93%;
  justify-content: space-between;
  height: auto;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin: 2rem;
}
body {
  --background-color: white;
  --text-color: black;
  --elements-color: white;
  margin: 0;
  font-family: Nunito, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark {
  --background-color: hsl(207, 26%, 17%); 
  --text-color: white;
  --elements-color: hsl(209, 23%, 22%);
}